---
---

html
    box-sizing: border-box
*, *:before, *:after
    box-sizing: inherit

html, body, #wrapper
    height: 100%
    width: 100%
    background: #fffcf0
    margin: 0
    padding: 0

#wrapper
    display: flex
    align-items: center
    justify-content: center

.card-frontpage
    > img
        width: 50rem
        max-width: 100%
