---
layout: default
title: goshubnc
---

<div class="marketing-spin"><div class="wrapper">
    <span class="headline">simple, always-on irc</span>
    goshu<img class="logo-midtext-pip" src="/img/logo-dot.svg"/>bnc is a simple irc bouncer that lets you stay connected and receive chat history.<br/>it stays connected so you don't have to!
</div></div>
<hr class="reversed"/>

<div class="sidebyside wrapper">
    <div>
        <h2>downloads</h2>
        {% include downloadplatforms.html %}
        <h2 style="margin-bottom: 0.3em;">clients</h2>
        <div class="box">
            <p class="fontface">goshu<img class="logo-midtext-pip" src="/img/logo-dot.svg"/>bnc works with these clients (among others):</p>
            <ul class="flexy-list">
                <li><a href="/clients#adiirc">AdiIRC</a></li>
                <li><a href="/clients#colloquy">Colloquy</a></li>
                <li><a href="/clients#hexchat">HexChat</a></li>
                <li><a href="/clients#irccloud">IRCCloud</a></li>
                <li><a href="/clients#irssi">Irssi</a></li>
                <li><a href="/clients#kiwiirc">Kiwi IRC</a></li>
                <li><a href="/clients#kvirc">KVIrc</a></li>
                <li><a href="/clients#konversation">Konversation</a></li>
                <li><a href="/clients#mirc">mIRC</a></li>
                <li><a href="/clients#mutter">Mutter</a></li>
                <li><a href="/clients#palaver">Palaver</a></li>
                <li><a href="/clients#quassel">Quassel</a></li>
                <li><a href="/clients#textual">Textual</a></li>
                <li><a href="/clients#the-lounge">The Lounge</a></li>
                <li><a href="/clients#weechat">WeeChat</a></li>
            </ul>
        </div>
    </div>
    <div>
        <h2>latest news</h2>
        {% assign post_limit = 4 %}
        {% for post in site.posts limit:post_limit %}
        <div class="post box">
            <h3>{{ post.title }}</h3>
            <span class="postinfo">{{ post.author }} - {{ post.date | date_to_string }}</span>
            {{ post.content }}
        </div>
        {% endfor %}
        {% if post_limit < site.posts.size %}
        <a class="read-more-news" href="/news">Read More</a>
        {% endif %}
    </div>
</div>
