<div class="dl-grid">
    <a href="/">
        {% include_relative img/platforms/windows.svg %}
        <span>Windows</span>
    </a>
    <a href="/">
        {% include_relative img/platforms/apple.svg %}
        <span>macOS</span>
    </a>
</div>
<div class="dl-grid">
    <a href="/">
        {% include_relative img/platforms/linux.svg %}
        <span>Linux</span>
    </a>
    <a href="/">
        {% include_relative img/platforms/raspberry-pi.svg %}
        <span>Raspberry Pi</span>
    </a>
</div>